.form-container{
    height: 100px;
    width: 600px;
    box-sizing: border-box;
    padding: 20px;
    margin-left: -120px;
    background-attachment: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.todo-tems{
    background-color:white;
    margin-top: 10px;
    /* text-align: center; */
    padding: 8px;
    width: 600px;
    margin-left: -120px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    padding: 10PX;
    border-radius: 10PX;
}
.modern-input{
    border: none;
    height: 40px;
}
.line{
    color: rgb(92, 132, 240);
}